<div class="row">
  <div class="card-body">
    <div class="form-horizontal">
      <div *ngIf="errors" class="form-group row">
          <list-errors [errors]="errors"></list-errors>
      </div>
    </div>
    <table class="table table-striped col-md-12">
      <thead>
        <tr>
          <th class="text-center">
            <button *ngIf="indicator" class="btn btn-sm btn-primary" (click)="save()">Salvar</button>
          </th>
          <th class="text-center">Ref.</th>
          <th class="text-center">Previsto</th>
          <th class="text-center">Realizado</th>
          <th *ngIf="showDelta" class="text-center">Desvio</th>
          <th class="text-center">Percentual</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meter of meterings">
          <td align="center">{{ indicator.measure }}</td>
          <td>{{ meter.refName }}</td>
          <td>
            <div class="input-group">
              <input  class="form-control" 
                      type="number" 
                      [(ngModel)]="meter.target" 
                      (ngModelChange)="calc(meter)"
                      step="0.01" 
                      style="text-align: right;">
            </div>
          </td>
          <td>
            <div class="input-group">
              <input  class="form-control" 
                      type="number" 
                      [(ngModel)]="meter.actual" 
                      (ngModelChange)="calc(meter)"
                      step="0.01" 
                      style="text-align: right;">
            </div>
          </td>
          <td *ngIf="showDelta" style="text-align: right;">
            {{ meter.difference | number : '1.2-2' }}
          </td>
          <td style="text-align: right;">
            {{ meter.percent | number : '1.2-2' }}
          </td>
        </tr>
        <tr>
          <th class="text-center">
            <button *ngIf="indicator" class="btn btn-sm btn-primary" (click)="save()">Salvar</button>
          </th>
          <th class="text-center">Ref.</th>
          <th class="text-center">Previsto</th>
          <th class="text-center">Realizado</th>
          <th *ngIf="showDelta" class="text-center">Desvio</th>
          <th class="text-center">Percentual</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>