<div class="row">
  <div class="card-body">
    <div class="form-horizontal">
      <div *ngIf="errors" class="form-group row">
          <list-errors [errors]="errors"></list-errors>
      </div>
      <div class="form-group row">
        <label class="col-md-1 col-form-label" for="manager" style="text-align: right">Período</label>
        <div class="col-md-2">
          <ng-select  [items]="periods"
                      bindLabel="name"
                      placeholder="Período"
                      [(ngModel)]="period" >
          </ng-select>
        </div>
        <label class="col-md-1 col-form-label" for="manager" style="text-align: right">Usuário</label>
        <div class="col-md-2">
          <ng-select  [items]="users"
                      bindLabel="name"
                      placeholder="Usuário"
                      [(ngModel)]="user" >
          </ng-select>
        </div>
        <div class="col-md-1">
            <button *ngIf="user && period && indicator" class="btn btn-sm btn-primary" (click)="add()"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
    <table class="table table-responsive-sm table-hover table-outline mb-0 col-md-6">
      <tbody>
        <tr *ngFor="let resp of responsables">
          <td class="text-center">
            <div class="avatar">
              <img src="assets/img/avatars/user-icon.png" class="img-avatar" >
            </div>
          </td>
          <td>
            <div>{{ resp.user.name }}</div>
            <div class="small text-muted">
              <span>{{ resp.user.department ? resp.user.department.name : "" }}</span>
            </div>
          </td>
          <td class="text-center">
            <button class="btn btn-sm btn-danger" (click)="remove(resp)"><i class="fa fa-trash-o"></i> </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>