<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-left">
            <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-left">
              <button class="btn btn-sm btn-primary" (click)="addNew()"><i class="fa fa-dot-circle-o"></i> Novo</button>
            </div>
            <div class="input-group col-6 col-sm-4 col-md mb-3 mb-xl-0 text-left" 
                 ngbPopover="Busque por qualquer campo do período. Encerrado (Sim: true / Não: false)" 
                 placement="bottom"
                 triggers="mouseenter:mouseleave"
                 container="body">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-magnifier"></i></span>
              </div>
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Pesquisar Período">
            </div>
          </div>
          <p></p>
          <dynamic-table *ngIf="periods[0]; else notShow"
            [rows]="periods" 
            [columns]="['name','year','companyMultiplier','closed']" 
            [titles]="['Nome','Ano','Multiplicador Canex','Encerrado']"
            [viewButton]="true"
            [viewButtonRoute]="'admin/periods'"
            [filterText]="searchText">
          </dynamic-table>
          <ng-template #notShow>
            <hr>
              <h4 align="center">Nenhum departamento cadastrado!</h4>
            <hr>
          </ng-template>
          <!-- <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
