<div class="animated fadeIn">
  <div class="row">
    <!--/.col-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <button type="button" class="btn btn-sm btn-dark" (click)="back()"><i class="fa fa-angle-left"></i> Voltar</button>
          </div>
          <list-errors [errors]="errors"></list-errors>

          <form [formGroup]="periodForm">
            <fieldset [disabled]="isSubmitting">
              <fieldset class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name">
              </fieldset>
              <div class="row">
                <fieldset class="form-group col-sm-3">
                  <label for="year">Ano</label>
                  <input type="number" placeholder="aaaa" min="1900" max="2099" step="1" class="form-control" id="year" formControlName="year">
                </fieldset>
                <fieldset class="form-group col-sm-3">
                  <label for="companyMultiplier">Multiplicador Canex</label>
                  <input type="number" step="1" placeholder="0" class="form-control" id="companyMultiplier" formControlName="companyMultiplier">
                </fieldset>
                <fieldset class="form-group col-sm-3" *ngIf="isNew">
                  <label for="closed">Encerrado</label>
                  <select class="form-control" id="closed" formControlName="closed">
                    <option [ngValue]=false>Não</option>
                    <option [ngValue]=true>Sim</option>
                  </select>
                </fieldset>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" (click)="submitForm()"><i class="fa fa-dot-circle-o"></i> Salvar</button>
          <button *ngIf="period.id" class="btn btn-sm btn-danger" (click)="confirmModal.show()"><i class="fa fa-dot-circle-o"></i> Excluir</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Atenção</h4>
        <button type="button" class="close" (click)="confirmModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja relamente excluir este registro?</p>
      </div>
      <div class="modal-footer">
        <fieldset [disabled]="isSubmitting">
          <button type="button" class="btn btn-secondary" (click)="confirmModal.hide()">Não</button>
          <button type="button" class="btn btn-primary" (click)="delete()">Sim</button>
        </fieldset>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->