<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-left">
            <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-left">
              <button class="btn btn-sm btn-primary" (click)="addNew()"><i class="fa fa-dot-circle-o"></i> Novo</button>
            </div>
            <div class="input-group col-6 col-sm-4 col-md mb-3 mb-xl-0 text-left" 
                 ngbPopover="Busque por qualquer campo do usuário." 
                 placement="bottom"
                 triggers="mouseenter:mouseleave"
                 container="body">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-magnifier"></i></span>
              </div>
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Pesquisar Usuário">
            </div>
          </div>
          <p></p>
          <dynamic-table *ngIf="users[0]; else notShow"
            [rows]="users" 
            [columns]="['name','email','department.name','role','lastAccess']" 
            [titles]="['Nome','E-mail','Departamento','Perfil','Último Acesso']"
            [viewButton]="true"
            [viewButtonRoute]="'admin/users'"
            [filterText]="searchText">
          </dynamic-table>
          <ng-template #notShow>
            <hr>
              <h4 align="center">Nenhum departamento cadastrado!</h4>
            <hr>
          </ng-template>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>