<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="emailForm">
                  <h1>Redefinir Senha</h1>

                  <list-errors [errors]="errors"></list-errors>

                  <fieldset [disabled]="isSubmitting">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-envelope"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="E-mail" formControlName="email" autocomplete="email"
                        required />
                    </div>
                  </fieldset>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" (click)="submitForm()">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>