<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="emailForm" (ngSubmit)="submitForm()">
                  <h1>Redefinir Senha</h1>
                  <h5 align="center">Uma chave de acesso foi enviada ao seu e-mail!</h5>
                  <list-errors [errors]="errors"></list-errors>
                  
                  <fieldset [disabled]="isSubmitting">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-key"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Chave de acesso" formControlName="token" autocomplete="token"
                        required />
                    </div>
                  </fieldset>
                  <fieldset [disabled]="isSubmitting">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-envelope"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="E-mail" formControlName="email" autocomplete="email"
                        required />
                    </div>
                  </fieldset>
                  <fieldset [disabled]="isSubmitting">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Senha" formControlName="password" autocomplete="password" required>
                    </div>
                  </fieldset>
                  <fieldset [disabled]="isSubmitting">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Repita a senha" formControlName="repassword" autocomplete="repassword" required>
                    </div>
                  </fieldset>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>