<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <!-- <list-errors [errors]="errors"></list-errors> -->
          <div class="row">
            <!-- <fieldset [disabled]="isSubmitting"> -->
              <label class="col-md-1 col-form-label" style="text-align: right">Período</label>
              <div class="col-md-2">
                <ng-select  [items]="periods"
                            bindLabel="name"
                            placeholder="Período"
                            [(ngModel)]="period"
                            (change)="loadReferences()" >
                </ng-select>
              </div>
              <label class="col-md-1 col-form-label" style="text-align: right">Ref</label>
              <div class="col-md-2">
                <ng-select  [items]="references"
                            bindLabel="refName"
                            placeholder="Referência"
                            [(ngModel)]="reference"
                            (change)="loadMeterings()" >
                </ng-select>
              </div>
              <!-- <label class="col-md-1 col-form-label" style="text-align: right">Usuário</label>
              <div class="col-md-2">
                <ng-select  [items]="users"
                            bindLabel="name"
                            placeholder="Usuário"
                            [(ngModel)]="user"
                            (change)="loadIndicators()" > 
                </ng-select>
              </div> -->
              <label class="col-md-2 col-form-label" style="text-align: right">Usuário/Departamento</label>
              <div class="col-md-2">
                <ng-select  [items]="indicatorsFilter"
                            bindLabel="name"
                            placeholder="Usuário/Departamento"
                            groupBy="type"
                            [(ngModel)]="indicatorFilter"
                            (change)="loadIndicators()" >
                </ng-select>
              </div>
            <!-- </fieldset> -->
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
    <div class="col-sm-12" *ngIf="indicatorFilter && period && indicators && reference">
      <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h1>{{ indicatorFilter.type === "Departamentos" ? "Departamento "  : "" }}{{ indicatorFilter.name }}</h1>
                <h6>{{ indicatorFilter.departmentName }} </h6>
              </div>
            </div>
            <br>
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  <th rowspan="2" class="text-center"></th>
                  <th rowspan="2" >Indicador</th>
                  <th rowspan="2" class="text-center">Orientação</th>
                  <th rowspan="2">Medida</th>
                  <th class="text-center" colspan="4">{{ reference.refName }}</th>
                  <th rowspan="2"></th>
                  <th class="text-center" colspan="4">Acumulado {{ period.name }}</th>
                  <th rowspan="2"></th>
                </tr>
                <tr>
                    <th class="text-center">Planejado</th>
                    <th class="text-center">Realizado</th>
                    <th class="text-center">Desvio</th>
                    <th class="text-center"></th>
                    <th class="text-center">Planejado</th>
                    <th class="text-center">Realizado</th>
                    <th class="text-center">Desvio</th>
                    <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ind of indicators">
                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" (click)="openModal(responsableModalTemplate, ind)" title="Responsáveis"><i class="icon-people"></i></button>
                  </td>
                  <td>
                    <div>{{ ind.name }}</div>
                    <div class="small text-muted">
                      {{ ind.description }}
                    </div>
                  </td>
                  <td class="text-center">
                      <i *ngIf="ind.orientation === 'higher'" class="fa fa-arrow-up fa-lg mt-4"></i>
                      <i *ngIf="ind.orientation !== 'higher'" class="fa fa-arrow-down fa-lg mt-4"></i>
                      {{ ind.orientation === 'higher' ? 'Maior Melhor' : 'Menor Melhor' }} 
                  </td>
                  <td class="text-center">{{ ind.measure }}</td>
                  <td class="text-right">{{ refValues[ind.id] ? (refValues[ind.id].target | number : '1.2-2') : "..." }}</td>
                  <td class="text-right">{{ refValues[ind.id] ? (refValues[ind.id].actual | number : '1.2-2') : "..." }}</td>
                  <td class="text-right">{{ refValues[ind.id] ? (refValues[ind.id].difference | number : '1.2-2') : "..." }}</td>
                  <td>
                      <percent-indicator [metering]="refValues[ind.id]"></percent-indicator>
                  <td></td>
                  <td class="text-right">{{ accValues[ind.id] ? (accValues[ind.id].target | number : '1.2-2') : "..." }}</td>
                  <td class="text-right">{{ accValues[ind.id] ? (accValues[ind.id].actual | number : '1.2-2') : "..." }}</td>
                  <td class="text-right">{{ accValues[ind.id] ? (accValues[ind.id].difference | number : '1.2-2') : "..." }}</td>
                  <td>
                      <percent-indicator [metering]="accValues[ind.id]"></percent-indicator>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" (click)="openModal(chartModalTemplate, ind)" title="Gráfico"><i class="icon-chart"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
</div>

<ng-template #chartModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title">{{ indicator ? indicator.name : "..." }} - {{ period ? period.name : "..." }}</h4>
    <button type="button" class="close" (click)="chartModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <indicator-chart [indicator]="indicator" [period]="period"></indicator-chart>
  </div>
</ng-template>


<ng-template #responsableModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title">Responsáveis {{ indicator ? indicator.name : "..." }} - {{ period ? period.name : "..." }}</h4>
    <button type="button" class="close" (click)="chartModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <responsables-table [indicator]="indicator" [period]="period"></responsables-table>
  </div>
</ng-template>