<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <label class="col-md-2 col-form-label" style="text-align: right">Referência</label>
            <div class="col-md-2">
              <ng-select  [items]="references"
                          bindLabel="refName"
                          placeholder="Referência"
                          [clearable]="false"
                          [(ngModel)]="reference"
                          (change)="loadMeterings()" >
              </ng-select>
            </div>
            <div class='row col-md-8' *ngIf="(sectionUser && (sectionUser.role == 'admin' || sectionUser.role == 'supervisor')) || showDepartmentUsers">
              <label class="col-md-3 col-form-label"  style="text-align: right">Usuário</label>
              <div class="col-md-6">
                <ng-select  [items]="users"
                            bindLabel="name"
                            placeholder="Usuário"
                            [clearable]="false"
                            [(ngModel)]="selectedUser"
                            (change)="loadContract()" >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="col-sm-14" *ngIf="selectedUser && reference && contract">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ selectedUser.name }}</h1>
            <h6 *ngIf="selectedUser.department">{{ selectedUser.department.name }} </h6>
          </div>
        </div>
        <br>
        <div *ngIf="(contractIndicators.length == 0)">
          <h3 align="center">Nenhum indicador cadastrado</h3>
        </div>
        {{teste}}
        <table class="table table-responsive-sm table-hover table-outline mb-0" *ngIf="(contractIndicators.length != 0)">
        
          <!-- Header -->
          <thead class="thead-light">
            <tr>
              <th rowspan="2" class="text-center"></th>
              <th rowspan="2" >Indicador</th>
              <th rowspan="2" class="text-center">Peso %</th>
              <th rowspan="2" class="text-center">Orientação</th>
              <th rowspan="2">Medida</th>
              <th class="text-center" colspan="4">{{ reference.refName }}</th>
              <th rowspan="2"></th>
              <th class="text-center" colspan="4">Acumulado {{ currentPeriod.year }}</th>
            </tr>
            <tr>
                <th class="text-center">Planejado</th>
                <th class="text-center">Realizado</th>
                <th class="text-center">Desvio</th>
                <th class="text-center"></th>
                <th class="text-center">Planejado</th>
                <th class="text-center">Realizado</th>
                <th class="text-center">Desvio</th>
                <th class="text-center"></th>
            </tr>
          </thead>

          <!-- Body -->
          <tbody *ngFor="let contractIndicator of contractIndicators; let index = index">
            <tr (click)="acordeon(contractIndicator)">
              <td class="text-center">
                <button class="btn btn-sm btn-primary" (click)="openModal(chartModalTemplate, contractIndicator.indicator)" title="Gráfico"><i class="icon-chart"></i></button>
              </td>   
              <td>
                <div>{{ contractIndicator.indicator.name }}</div>
              </td>
              <td class="text-center">{{ contractIndicator.weight }}</td>
              <td class="text-center">
                  <i *ngIf="contractIndicator.indicator.orientation === 'higher'" class="fa fa-arrow-up fa-lg"></i>
                  <i *ngIf="contractIndicator.indicator.orientation !== 'higher'" class="fa fa-arrow-down fa-lg"></i>
                  {{ contractIndicator.indicator.orientation === 'higher' ? 'Maior Melhor' : 'Menor Melhor' }} 
              </td>
              <td class="text-center">{{ contractIndicator.indicator.measure }}</td>
              <td class="text-center">{{ contractIndicator.indicator.metering[reference.refOrder-1] ? (contractIndicator.indicator.metering[reference.refOrder-1].target | number: '1.2-2' : 'br') : "..." }}</td>
              <td class="text-center">{{ contractIndicator.indicator.metering[reference.refOrder-1] ? (contractIndicator.indicator.metering[reference.refOrder-1].actual | number: '1.2-2' : 'br') : "..." }}</td>
              <td class="text-center">{{ contractIndicator.indicator.metering[reference.refOrder-1] ? (contractIndicator.indicator.metering[reference.refOrder-1].difference | number: '1.2-2' : 'br') : "..." }}</td>
              <td>
                <percent-indicator [percent]="contractIndicator.indicator.metering[reference.refOrder-1].percent"
                                   [refName]="contractIndicator.indicator.metering[reference.refOrder-1].refName.slice(0, 3)">
                </percent-indicator>
              </td>
              <td></td>
              <td class="text-center">{{ accumulated[index] ? (accumulated[index].target | number: '1.2-2' : 'br') : "..." }}</td>
              <td class="text-center">{{ accumulated[index] ? (accumulated[index].actual | number: '1.2-2' : 'br') : "..." }}</td>
              <td class="text-center">{{ accumulated[index] ? (accumulated[index].difference | number: '1.2-2' : 'br') : "..." }}</td>
              <td>
                <percent-indicator [percent]="accumulated[index].percent"
                                   [refName]="accumulated[index].refName.slice(0, 3)">
                </percent-indicator>
              </td>
            </tr>
            
            <!-- acordeon -->
            <ng-container *ngIf="contractIndicator == acordeonSelected && !contractIndicator.indicator.basket">
              <tr class="animated fadeIn">
                <td colspan="7">
                  <meterings-editor (indicatorChange)="meteringChanged(index)"
                                    [(indicator)]="contractIndicator.indicator"
                                    [showDelta]="true"
                                    [targetEdit]="false"
                                    [actualEditNumber]="currentPeriod.closedMonth">
                  </meterings-editor>
                </td>
                <td colspan="7" class="align-top">
                  <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <tr>
                      <td>Descrição</td>
                      <td>{{ contractIndicator.indicator.description }}</td>
                    </tr>
                    <tr>
                      <td>Equação</td>
                      <td>{{ contractIndicator.indicator.equation }}</td>
                    </tr>
                    <tr>
                      <td>Instrumento de Aferição</td>
                      <td>{{ contractIndicator.indicator.evaluation }}</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </ng-container>

            <!-- Basket -->
            <ng-container *ngIf="contractIndicator == acordeonSelected && contractIndicator.indicator.basket">
              <tr class="animated fadeIn" bgcolor="#d9d9d9"><td colspan="15"></td></tr>
              <ng-container *ngFor="let basketItem of basket.basketItems; let indexBasket = index">
                <tr class="animated fadeIn" (click)="acordeonBasket(basketItem)">
                  <td class="text-center">
                    <button class="btn btn-sm btn-success" (click)="openModal(chartModalTemplate, basketItem.indicator)" title="Gráfico"><i class="icon-chart"></i></button>
                  </td>   
                  <td>
                    <div>{{ basketItem.indicator.name }}</div>
                  </td>
                  <td class="text-center">{{ basketItem.weight }}</td>
                  <td class="text-center">
                      <i *ngIf="basketItem.indicator.orientation === 'higher'" class="fa fa-arrow-up fa-lg"></i>
                      <i *ngIf="basketItem.indicator.orientation !== 'higher'" class="fa fa-arrow-down fa-lg"></i>
                      {{ basketItem.indicator.orientation === 'higher' ? 'Maior Melhor' : 'Menor Melhor' }} 
                  </td>
                  <td class="text-center">{{ basketItem.indicator.measure }}</td>
                  <td class="text-center">{{ basketItem.indicator.metering[reference.refOrder-1] ? (basketItem.indicator.metering[reference.refOrder-1].target | number: '1.2-2' : 'br') : "..." }}</td>
                  <td class="text-center">{{ basketItem.indicator.metering[reference.refOrder-1] ? (basketItem.indicator.metering[reference.refOrder-1].actual | number: '1.2-2' : 'br') : "..." }}</td>
                  <td class="text-center">{{ basketItem.indicator.metering[reference.refOrder-1] ? (basketItem.indicator.metering[reference.refOrder-1].difference | number: '1.2-2' : 'br') : "..." }}</td>
                  <td>
                    <percent-indicator [percent]="basketItem.indicator.metering[reference.refOrder-1].percent"
                                      [refName]="basketItem.indicator.metering[reference.refOrder-1].refName.slice(0, 3)">
                    </percent-indicator>
                  </td>
                  <td></td>
                  <td class="text-center">{{ basketAccumulated[indexBasket] ? (basketAccumulated[indexBasket].target | number: '1.2-2' : 'br') : "..." }}</td>
                  <td class="text-center">{{ basketAccumulated[indexBasket] ? (basketAccumulated[indexBasket].actual | number: '1.2-2' : 'br') : "..." }}</td>
                  <td class="text-center">{{ basketAccumulated[indexBasket] ? (basketAccumulated[indexBasket].difference | number: '1.2-2' : 'br') : "..." }}</td>
                  <td>
                    <percent-indicator [percent]="basketAccumulated[indexBasket].percent"
                                       [refName]="basketAccumulated[indexBasket].refName.slice(0, 3)">
                    </percent-indicator>
                  </td>
                </tr>
                <ng-container *ngIf="basketItem == acordeonBasketSelected">
                  <tr class="animated fadeIn">
                    <td colspan="7">
                      <meterings-editor (indicatorChange)="meteringChangedBasket(indexBasket)"
                                        [(indicator)]="basketItem.indicator"
                                        [showDelta]="true"
                                        [targetEdit]="false"
                                        [actualEditNumber]="currentPeriod.closedMonth">
                      </meterings-editor>
                    </td>
                    <td colspan="8" class="align-top">
                      <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <tr>
                          <td>Descrição</td>
                          <td>{{ basketItem.indicator.description }}</td>
                        </tr>
                        <tr>
                          <td>Equação</td>
                          <td>{{ basketItem.indicator.equation }}</td>
                        </tr>
                        <tr>
                          <td>Instrumento de Aferição</td>
                          <td>{{ basketItem.indicator.evaluation }}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </ng-container>

              </ng-container>
              <tr class="animated fadeIn" bgcolor="#d9d9d9"><td colspan="15"></td></tr>
            </ng-container>

          </tbody>
          
          <!-- Footer -->
          <thead class="thead-light">
            <tr>
              <th></th>
              <th>Peso Total %</th>
              <th class="text-center">
                {{totalWeight}}
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Total</th>
              <th>
                <!-- {{ refResult }} -->
                <percent-indicator [percent]="refResult"
                                    [refName]="reference.refName.slice(0, 3)">
                </percent-indicator>
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th>Total</th>
              <th>
                <!-- {{ accumulatedResult }} -->
                <percent-indicator [percent]="accumulatedResult"
                                    [refName]="reference.refName.slice(0, 3)">
                </percent-indicator></th>
            </tr>
            
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #chartModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title">{{ indicator ? indicator.name : "..." }} - {{ currentPeriod ? currentPeriod.year : "..." }}</h4>
    <button type="button" class="close" (click)="chartModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <indicator-chart [indicator]="indicator"></indicator-chart>
  </div>
</ng-template>